.channel-detail-container {
  min-height: 95vh;
  background-color: #f9f9f9;
}

.channel-banner {
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 238, 247, 1) 0%, rgba(206, 3, 184, 1) 100%, rgba(0, 212, 255, 1) 100%);
  z-index: 10;
}

.videos-container {
  padding: 16px;
  display: flex;
  justify-content: center;
}