.search-bar {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 16px;
  box-shadow: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--card-background);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 8px 0;
  background-color: transparent;
  color: var(--text-color);
}

.search-button {
  padding: 10px;
  color: #606060;
  background-color: #f8f8f8;
  border-left: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
}

.search-button:hover {
  background-color: #f0f0f0;
}

/* Dark Theme Adjustments */
[data-theme='dark'] .search-bar {
  border: 1px solid #303030;
}

[data-theme='dark'] .search-button {
  background-color: #212121;
  border-left: 1px solid #303030;
  color: #aaa;
}

[data-theme='dark'] .search-button:hover {
  background-color: #373737;
}