.sidebar {
  background-color: var(--sidebar-background);
  height: 100vh;
  overflow-y: auto;
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
}

.sidebar.open {
  width: 240px;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Dark Theme Adjustments */
[data-theme='dark'] .sidebar {
  border-right: 1px solid #303030;
}

[data-theme='light'] .sidebar {
  border-right: 1px solid #e5e5e5;
}