.video-card {
  width: 100%;
  max-width: 320px;
  box-shadow: none;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--card-background);
  transition: transform 0.3s ease;
  height: 280px;
  display: flex;
  flex-direction: column;
}

.video-card:hover {
  transform: translateY(-5px);
}

.video-card-media {
  height: 180px;
  object-fit: cover;
}

.video-card-content {
  background-color: var(--card-background);
  padding: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.video-title {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.channel-info {
  margin-top: auto;
}

.channel-title {
  color: #606060;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.channel-verified-icon {
  font-size: 12px;
  color: #606060;
  margin-left: 5px;
}

/* Dark Theme Adjustments */
[data-theme='dark'] .channel-title,
[data-theme='dark'] .channel-verified-icon {
  color: #aaa;
}