.video-card {
  width: 100%;
  max-width: 320px;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card-background);
}

.video-card-media {
  height: 180px;
}

.video-card-content {
  background-color: var(--card-background);
  padding: 12px;
}

.video-title {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 4px;
}

.channel-title {
  color: #606060;
  font-size: 0.875rem;
}

.channel-verified-icon {
  font-size: 12px;
  color: #606060;
  margin-left: 5px;
}