@import './theme.css';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 10px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: var(--text-color);
}

/* Dark Theme Adjustments */
[data-theme='dark'] .search-bar {
  border: 1px solid #303030;
}

[data-theme='dark'] .category-btn {
  color: var(--text-color);
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}
@media screen and (max-width:700px) {
  .logo-name{
    flex-direction: column;
  }
  .logo-name img{
    object-fit: contain;
  }
  .logo-name .logo-name{
    font-size: 1rem;
  }

}
@media screen and (max-width:370px) {
  .logo-name .logo-name{
    display: none;
  }

}