/* Light Theme */
[data-theme='light'] {
  --background-color: #fff;
  --text-color: #000;
  --navbar-background: #fff;
  --sidebar-background: #fff;
  --card-background: #f9f9f9;
  --icon-color: #606060;
}

/* Dark Theme */
[data-theme='dark'] {
  --background-color: #0f0f0f;
  --text-color: #ffffff;
  --navbar-background: #0f0f0f;
  --sidebar-background: #0f0f0f;
  --card-background: #181818;
  --icon-color: #aaa;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}